*.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/8C647B01/sources/session-c929e898/lock_file
.Rproj.user/8C647B01/sources/session-c929e898/38EA489D-contents
.Rproj.user/8C647B01/sources/session-c929e898/38EA489D
.Rproj.user/8C647B01/sources/session-c929e898/014F35DE-contents
.Rproj.user/8C647B01/sources/session-c929e898/014F35DE
.Rproj.user/8C647B01/sources/prop/INDEX
.Rproj.user/8C647B01/sources/prop/5CF97BFB
.Rproj.user/8C647B01/sources/prop/229DC927
.Rproj.user/8C647B01/sources/session-c929e898/9DB19C77-contents
.Rproj.user/8C647B01/sources/session-c929e898/9DB19C77
.Rproj.user/8C647B01/sources/prop/28D92262
.RData
.Rproj.user/8C647B01/rmd-outputs
.Rproj.user/8C647B01/saved_source_markers
.Rproj.user/8C647B01/sources/prop/2605C9B7
.Rproj.user/8C647B01/sources/session-2782bdf8/014F35DE
.Rproj.user/8C647B01/sources/session-2782bdf8/014F35DE-contents
.Rproj.user/8C647B01/sources/session-2782bdf8/171C52D1
.Rproj.user/8C647B01/sources/session-2782bdf8/171C52D1-contents
.Rproj.user/8C647B01/sources/session-2782bdf8/38EA489D
.Rproj.user/8C647B01/sources/session-2782bdf8/38EA489D-contents
.Rproj.user/8C647B01/sources/session-2782bdf8/9DB19C77
.Rproj.user/8C647B01/sources/session-2782bdf8/9DB19C77-contents
.Rproj.user/8C647B01/sources/session-2782bdf8/lock_file
.Rproj.user/8C647B01/sources/prop/E97A378F
.Rproj.user/8C647B01/sources/session-2782bdf8/9ACA95FF
.Rproj.user/8C647B01/sources/session-2782bdf8/9ACA95FF-contents
.Rproj.user/8C647B01/sources/prop/CB928C54
.Rproj.user/8C647B01/sources/session-2782bdf8/4373B1DE
.Rproj.user/8C647B01/sources/session-2782bdf8/4373B1DE-contents
.Rproj.user/8C647B01/sources/session-2782bdf8/1507E0AB-contents
.Rproj.user/8C647B01/sources/session-2782bdf8/349D7BB4-contents
.Rproj.user/8C647B01/sources/session-2782bdf8/76495551-contents
.Rproj.user/8C647B01/sources/session-2782bdf8/996F305C-contents
.Rproj.user/8C647B01/sources/session-2782bdf8/D0F53E02-contents
.Rproj.user/8C647B01/sources/session-2782bdf8/E583CB29-contents
/.Rproj.user
